<style>

body{
    background-color:#FFFFE0;
    color:#F4A460;
}

.page-header{
    padding-bottom: 19px;
    padding-top: 10px;
    
}


</style>


<div align="center" >
<img src="http://cfile6.uf.tistory.com/image/222F0D3C56DD682C14D14B" width="700px" height="350px"
style="margin-top:50px"/>
</div>

<div class="container">
    <div class="page-header" align="center">
      <h1>이메일 전송 서비스<small>이메일 보낸 기록 리스트</small></h1>
    </div>
    <div align="center">
        <table class="table table-hover">
             <tr style="color:#660000; font-size:30px">
                <th>제목</th><th>내용</th><th>보낸주소</th><th>보낸시간</th>
            </tr>
        <% @every_post.each do |p| %>

            <tr  style="cursor:pointer; font-size:20px" >
                <td><%= p.title%></td><td><%= p.content%></td><td><%= p.address%></td><td><%= p.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초") %> 
                <a href="/delete/<%=p.id%>" class="btn btn-default" style="color:red; margin-left:10px">삭제</a>
                <a href="/update_view/<%=p.id%>" class="btn btn-default" style="color:blue; margin-left:10px">수정</a></td>
                
            </tr>
        
        <% end %>
        
        </table>
    </div>
    
    
<div  align="center">   
  <input type="button" class="btn btn-default" value="이메일 보내기"  onclick="emailsend()"  style="color:#660000; font-size:30px ;margin-bottom:50px"></input>
  
 </div> 
</div>

<script>
function emailsend()
{
    location.replace("/write");
}
</script>
